//= require_tree .

@import 'nib'
@import 'colors'

.clearfix
  clearfix()

// Typo
// -------------------------------------------------

body, input
  font-family "Helvetica Neue", sans-serif
  font-size 14px

h1, h2, h3
  // margin 0
  // margin-bottom 10px

h3
  font-weight 400
  font-size 24px

a
  color green1

img.load
  width 16px
  height 16px
  position relative
  top 1px
  margin-left 4px