form.simple_form
  div.input
    margin-bottom 10px

    label
      display block
      width 150px
      float left
      text-align right
      padding-right 10px

    &.string label
      padding-top 8px

    &.select label
      padding-top 2px

    abbr
      display none

  input[type=text], input[type=password]
    border 1px solid #aaa
    padding 5px
    width 175px

  div.actions
    padding-left 160px