@import 'colors'

form.simple_form
  div.input
    margin-bottom 10px

    label
      display block
      width 90px
      float left
      text-align left
      padding-right 10px
      padding-top 5px
      box-sizing border-box

    &.string label
      padding-top 8px

    &.select label
      padding-top 2px

    abbr
      display none

  input[type=text], input[type=password]
    border 1px solid #aaa
    padding 5px
    width 175px

  input[type=submit]
    background green1
    border none
    color #fff
    padding 10px 15px

  div.actions
    padding-left 90px