@import 'nib'

#messages
  width 100%
  bottom 0
  // margin-top 20px

  .list
    // padding-left 20px
    padding-top 20px

  .input
    // padding 10px 15px
    box-sizing border-box
    input
      width 100%
      padding 10px 15px
      background transparent
      border 1px solid #c2c2c2
      color #fff
      box-sizing border-box
      display block

      &:focus
        outline 0


div.message
  clearfix()
  margin-bottom: 5px
  div.picture
    float left
    // margin-top -7px
    margin-right 10px
    img
      width 15px