@import 'nib'

side_width = 150px

.profile
  .side
    width side_width
    float left

    .actions
      padding-top 10px
      text-align center

    img
      width side_width
  .main
    margin-left side_width
    padding-left 20px

    .title

      h1
        margin 0
        font-weight 200
        font-size 36px

      .actions
        float right

        a
          color #a7a7a7
          text-decoration none
          display inline-block
          background #f0f0f0
          font-weight medium
          font-size 12px
          padding 10px 15px
          margin-left 20px
          margin-top 5px

          &:active
            background #888
            color #fff

  .table
    padding-top 10px
    table
      th, td
        font-weight normal
        text-align left
      th
        font-size 13px
        width 150px
        color #a1a1a1
      td
        font-size 14px