<template name="layoutHeader">
  <div id="header">
    <div id="status">
      {{#if currentUser}}
        <div class="picture">
          <a href="{{userProfilePath currentUser}}">
            <img src="{{userAvatar currentUser}}">
          </a>
        </div>
        Si prihlaseny ako {{currentUser.username}}.
        <a href="#" class="logout">Odhlasit sa</a>
      {{else}}
        <a href="{{userLoginPath}}">Prihlásit sa</a>
        |
        <a href="{{userSignupPath}}">Registrácia</a>
      {{/if}}
    </div>
  </div>
</template>