<template name="messagesList">
  <table id="messages-layout">
    <tr>
      <td id="messages">
        <div class="input">
          <form>
            <input type="text" autocapitalize="off" autocorrect="off" />
          </form>
        </div>

        <div class="list">
          {{#each messages}}
            <div class="message {{messageClass this}}">
              
              {{#with user this}}
                {{> _messageUser this}}
              {{/with}}
              
              {{{formatContent content}}}

              <small class="timestamp">{{timestampFormat timestamp}}</small>
            </div>
          {{/each}}
        </div>
      </td>

      <td id="presence">
        {{> onlineUsers}}
        
      </td>
    </tr>
  </table>
</template>