<template name="messagesList">
  <div id="messages">
    <div class="input">
      <form>
        <input type="text" />
      </form>
    </div>

    <div class="list">
      {{#each messages}}
        <div class="message">
          
          {{#with user this}}
            <div class="picture">
              <a href="{{userProfilePath this}}">
                <img src="{{userAvatar this}}">
              </a>
            </div>
            <strong>
              {{username}}
            </strong>
          {{/with}}
          
          {{content}}
        </div>
      {{/each}}
    </div>

  </div>
</template>